.checkout_container{
    display: block;
}
.checkout_right{
    width: auto;
    height: auto;
}
.checkout_left{
    display: flex;
    vertical-align: middle;
    flex-wrap: wrap;
    justify-content:flex-start;
    margin: 0px 10px;
}
.checkoutproducts{
    padding: 20px;
    box-shadow: 10px 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}
.checkoutproducts_image{
    width: 50%;
}
.removebtn {
    background-color: #ff5e00;
    color: rgb(10, 7, 7);
    padding: 14px 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
  }
  @media screen and (max-width: 600px) {
      
  }