.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.heading {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-size: xx-large;
}
a {
  text-decoration: none;
}
.search input {
  color: black;
  border-radius: 10px;
}

.topnav {
  vertical-align: middle;
  margin-left: 20px;
  overflow: hidden;
  padding: 0px;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196f3;
  color: white;
}
.login-container {
  float: right;
}

.topnav .login-container button {
  background-color: #2196f3;
  color: black;
  cursor: pointer;
}

.topnav .login-container button:hover {
  background-color: green;
}
.main .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  #hide_item{
    display: none;
  }
  .login-container{
    display: none;
  }
  .main p.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .topnav.responsive {
    position: relative;
    display: block;
  }
  .main .icon {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .topnav.responsive #hide_item {
    display: flex;
    flex-direction: column;
    float: none;
    text-align: right;
    align-items: flex-start;
  }
  .topnav.responsive .login-container {
    float: center;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
  }
  .topnav a.active {
    background-color: #2196f3;
    color: white;
  }
  .topnav.responsive button {
    float: none;
    text-align: left;
  }
}
